*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    color: rgba(0, 0, 0, 0.349);
    padding: 10px 0 15px 0;
}
#assign{
    margin: 0 auto 0 auto;
    text-align: center;
    width: 20px;
    /* height: 20px; */
    color: black;
    font-size: 18px;
   
}
#calbox{
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color:white;
    padding:15px;
    border-radius: 20px;
    box-shadow:1px 1px 5px black;    
}
#caltot{
    display: flex;
    justify-content: space-around;
}
#caltotin{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 128, 0, 0.226);
    width: 60%;
    height: 50px;
    margin: 8px 0 0  auto; 
    text-align: center;
    line-height: 50px;
    font-size: 15px;   
}
button{
    /* border-bottom-right-radius: 20px; */
    user-select: none;
    width: 100px;
    height: 50px;
    margin: 0px 0 0 auto; 
    border: none;
    background-color:lightblue;  
    font-size: 20px;
    color: black;
}
#div {
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}
#sub{
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}
button:active
{
    background-color: rgba(0, 0, 0, 0.498);
    color: white;
}
#caltot #equal{
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:orange;
    color: white;
    margin: auto auto 0 0;
}
#caltot #equal:active{
    background-color: white;
    color: black;
}
input{
    outline: none;
    border-style: none;
    box-sizing: border-box;
    border: none;
    color: white;
    font-size: 15px;
    height: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.776);
}
#no1{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}
#no2{
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    margin: 0px 0px 10px 0;
}